@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

.hero-section {
  background-image: url('/src/img/mesjid.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: block;
}

.card-infak {
  background-image: url('/src/img/pattern-bg\ 1.png');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-list {
  background-image: url('/src/img/pattern-bg\ 1.png');
}

.hovnav {
  @apply lg:hover:border-b-2 lg:hover:py-1 lg:hover:w-[50%] lg:hover:mx-auto lg:hover:flex lg:hover:justify-center;
}
